{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light "style="background-color:#e3f2fd;">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Ardut Kalkulator</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  </li>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Materi
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="/bangundatar">Bangun Datar</a></li>
					  <li><a class="dropdown-item" href="/bangunruang">Bangun Ruang</a></li>
					  <li><a class="dropdown-item" href="/pythagoras">Pythagoras</a></li>
					  <li><a class="dropdown-item" href="/panjang">Panjang</a></li>
					  <li><a class="dropdown-item" href="/berat">Berat</a></li>
					  <li><a class="dropdown-item" href="/kpk">KPK</a></li>
					  <li><a class="dropdown-item" href="/fpb">FPB</a></li>
					</ul>
				  </li>
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="^$">Home</a>
			  </li>
		  </div>
		</div>
	  </nav>
	  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
